<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmación</title>
    <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/styles.css" rel="stylesheet" type="text/css"/>
</head>
<body class="bodyinfo">


    {{> header}}

<div class="containerinfo">
    <div class="containerinfo2">
        <h1 class="confirmation-title">{{title}}</h1>
        <p class="confirmation-detail"><strong>Nombre:</strong> {{repository.name}}</p>
        <p class="confirmation-detail"><strong>Descripción:</strong> {{repository.description}}</p>
        <p class="confirmation-detail"><strong>Lenguaje:</strong> {{repository.language}}</p>
        <p class="confirmation-detail"><strong>Estrellas:</strong> {{repository.stargazers_count}}</p>
        <p class="confirmation-detail"><strong>Última actualización:</strong> {{repository.updated_at}}</p>
    </div>
</div>


    {{> footer}}


</body>
</html>